* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./images/gravelbackground.jpg);
    background-repeat: no-repeat;
    background-size: 200%;
}

.wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 1250px;
    background-color: #e8dfc6;
}

.header {
    display: flex;
    flex-flow: row;
    height: 165px;
    width: 90%;
    background-color: #e8dfc6;
    justify-content: center;
}

.company-name {
    display: flex;
    width: 250px;
    height: 100%;
    color: white;
    background: #5ec163;
    justify-content: center;
    align-items: center;
    font-family: 'Squada One', cursive;
}

.company-name h1 {
    padding: 5px;
}

.name-wrapper {
    display: flex;
    flex-flow: column;
    width: 250px;
    text-align: center;
}

.navbar {
    width: 675px;
    display: flex;
    flex-flow: row;
    margin: 30px 0 0  35px;
}

.navbar li {
    display: inline-block;
    white-space: nowrap;
    width: auto;
    list-style: none;
}

.navbar a {
    height: 50px;
    padding: 15px 25px;
    margin: 0 2px;
    font-family: 'Open Sans';
    font-size: 14;
    background-color: #f8f5eead;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
}

.navbar .active-page {
    color: #3aaf40;
    background-color: #f8f5ee;
}

.navbar a:hover {
    color: #3aaf40;
    background-color: #f8f5ee;
}

.main-container {
    display: flex;
    flex-flow: column;
    width: 1050px;
}

.main-container img {
    width: 100%;
}

.sub-container {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.info-wrapper {
    width: 100%;
    height: 500px;
    padding: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.info-wrapper img {
    width: 432px;
    height: 260px;
}

.info {
    width: 50%;
}

.info p {
    width: 95%;
    margin-bottom: 5px;
    font-size: 14;
    font-family: 'Open Sans';
}

.info .title {
    font-family: 'Squada One', cursive;
    font-size: 32;
    font-weight: 50;
    margin: 0;
}

.specialties p:first-of-type {
    margin: 10px 0;
}

.footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #c0b593;
}

.footer-wrapper {
    width: 70%;
    display: flex;
    flex-flow: row;
    color: white;
    align-self: center;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'Open Sans';
}

.footer-wrapper p {
    padding-top: 10px;
    font-size: 12;
}

.social-media img {
    width: 32px;
    height: 32px;
}

.footer .builder {
    height: 35px;
    width: 100px;
    size: 50%;
    align-self: center;
    margin-left: 40px;
}

@media (max-width: 810px) {
    .info-wrapper {
        height: initial;
        flex-flow: column;
    }

    .info-wrapper img {
        width: 324px;
        height: 195px;
        margin-top: 10px;
        align-self: center;
    }

    .info {
        width: 100%;
        align-self: center;
    }

}

@media (max-width: 1060px) {
    body {
        width: 100%;
        background: none;
        margin: 0 0;
    }

    .wrapper {
        width: 100%;
    }

    .main-container {
        width: 100%;
        height: initial;
        position: relative;
        background-size: 100%;
    }

    .main-image {
        width: 100%;
    }

    .header {
        justify-content: left;
        width: 100%;
    }

    .company-name {
        margin-left: 0;
    }

    .name-wrapper {
        width: 220px;
    }

    .navbar {
        display: flex;
        flex-flow: column;
        margin: 5px;
    }

    .navbar li {
        background-color: #f8f5eead;
        height: 18%;
        width: 155px;
        padding: 5px;
        margin: 1px;
    }

    .navbar a {
        background: none;
    }

    .navbar .active-page {
        background: none;
    }

    .footer .builder {
        margin: 0;
    }
}